  "env": {
      es2021: true,
  }
  "extends": [
      "eslint:recommended",
      "plugin:vue/vue3-recommended",
      "prettier"
  ]
  "rules": {
    "no-console": "off"
  }
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  }
