<?php

return [
    'breakDuration' => 30, // half an hour in minutes
    'longBreakDuration' => 45, // three quarters of an hour in minutes
    'breakRequiredFrom' => 6, // in hours
    'longBreakRequiredFrom' => 9, // in hours
    'workingMinutesPerWeek' => 3260, // "Vollzeit" working minutes per week
];