<?php

return [
    'breakDuration' => 30, // half an hour in minutes
    'longBreakDuration' => 45, // three quarters of an hour in minutes
    'breakRequiredFromHours' => 6, // in hours
    'breakRequiredFromMinutes' => 0, // minutes to be added to `breakRequiredFromHours`
    'longBreakRequiredFromHours' => 9, // in hours
    'longBreakRequiredFromMinutes' => 30, // in hours
    'workingMinutesPerWeek' => 2360, // "Vollzeit" working minutes per week
    'workingMinutesPerWeekOfficer' => 2400, // "Vollzeit" working minutes per week
    'cappingLimit' => 1200, // "Kappungsgrenze" in minutes
];