.vagrant/
vendor/
config/development.config.php
config/jwt.config.php
config/holiday.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
/config/ldap.config.php
/data/log/azebo.log
Scratches
/assets/sql/dump_2023_01_17.sql
